<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/third-party/bootstrap-5.3.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/NarBar.css">
    <link rel="stylesheet" href="/static/css/showph.css">
    <link rel="stylesheet" href="/static/css/mouselight.css">
    <style>
        /* 使用 !important 提升样式优先级 */

        body {
            background-image: url(/static/images/back13.jpg)
        }

        div.NAVBAR {
            text-align: center;
        }
    </style>

</head>

<body>
    <div class="light"></div>
    <script src="/static/js/mouselight.js"></script>
    <script src="/static/third-party/bootstrap-5.3.3-dist/js/bootstrap.bundle.js"></script>
    <div class="NAVBAR">
        <nav class="navbar navbar-expand-lg bg-body-tertiary bg-light-orange">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Away's blog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a> <!-- home -->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">link</a> <!-- link -->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">blog</a> <!-- blog -->
                        </li>
                        <li class="nav-item dropdown"> <!-- more -->
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                More
                            </a>
                            <ul class="dropdown-submenu">
                                <li><a style="text-align: center;"
                                    href="https://space.bilibili.com/470833519">
                                    <!-- 哔哩哔哩 SVG 图标 -->
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg" class="zhuzhan-icon">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.73252 2.67094C3.33229 
                                        2.28484 3.33229 1.64373 3.73252 1.25764C4.11291 0.890684 4.71552 0.890684 5.09591 1.25764L7.21723 3.30403C7.27749 3.36218 7.32869 3.4261 7.37081 3.49407H10.5789C10.6211 3.4261 10.6723 3.36218 
                                        10.7325 3.30403L12.8538 1.25764C13.2342 0.890684 13.8368 0.890684 14.2172 1.25764C14.6175 1.64373 14.6175 2.28484 14.2172 2.67094L13.364 3.49407H14C16.2091 3.49407 18 5.28493 18 7.49407V12.9996C18 
                                        15.2087 16.2091 16.9996 14 16.9996H4C1.79086 16.9996 0 15.2087 0 12.9996V7.49406C0 5.28492 1.79086 3.49407 4 3.49407H4.58579L3.73252 2.67094ZM4 5.42343C2.89543 5.42343 2 6.31886 2 7.42343V13.0702C2 
                                        14.1748 2.89543 15.0702 4 15.0702H14C15.1046 15.0702 16 14.1748 16 13.0702V7.42343C16 6.31886 15.1046 5.42343 14 5.42343H4ZM5 9.31747C5 8.76519 5.44772 8.31747 6 8.31747C6.55228 8.31747 7 8.76519 
                                        7 9.31747V10.2115C7 10.7638 6.55228 11.2115 6 11.2115C5.44772 11.2115 5 10.7638 5 10.2115V9.31747ZM12 8.31747C11.4477 8.31747 11 8.76519 11 9.31747V10.2115C11 10.7638 
                                        11.4477 11.2115 12 11.2115C12.5523 11.2115 13 10.7638 13 10.2115V9.31747C13 8.76519 12.5523 8.31747 12 8.31747Z" fill="currentColor"></path>
                                    </svg>
                                    bilibili</a></li> <!-- bilibili -->
                                <li><a style="text-align: center;"
                                    href="https://github.com/AwayC/">
                                    <!-- GitHub SVG 图标 -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 
                                        1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 
                                        2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 
                                        3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                                    </svg>
                                    Github</a></li> <!-- Github -->
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <script>
            menuItems.forEach(item => {
                item.addEventListener('mouseenter', function () {
                    // 移除所有菜单项的选中状态
                    menuItems.forEach(i => i.classList.remove('active'));

                    // 为当前悬停的菜单项添加选中状态
                    this.classList.add('active');

                    // 如果悬停的是下拉菜单项，保持其父项的选中状态
                    let parent = this.parentElement;
                    while (parent && parent.classList.contains('drop-item')) {
                        parent.classList.add('active');
                        parent = parent.parentElement;
                    }
                });

                item.addEventListener('mouseleave', function () {
                    // 移除当前菜单项的选中状态
                    this.classList.remove('active');
                });
            });
        </script>
    </div>

    <!---------------------------------------------------------------------------------->
    <div class="gallery">
        <!-- 图片1 -->
        <div class="card" style="width: 150px; height: 200px; top: 70px; margin-left: 100px">
            <div class="image-wrapper">
                <img src="/static/images/back1.jpg" alt="Image 1">
            </div>
            <li class="info">
                <h3>图片1</h3>
                <p>这是图片1的介绍内容。</p>
            </li>
        </div>
        <!-- 图片2 -->
        <div class="card" style="top: 10px">
            <div class="image-wrapper">
                <img src="/static/images/back2.jpg" alt="Image 2">
            </div>
            <div class="info">
                <h3>图片2</h3>
                <p>这是图片2的介绍内容。</p>
            </div>
        </div>
        <div class="card" style="top: -10px;left: 5px; margin-bottom: 20px">
            <div class="image-wrapper">
                <img src="/static/images/back3.jpg" alt="Image 2">
            </div>
            <div class="info">
                <h3>图片2</h3>
                <p>这是图片2的介绍内容。</p>
            </div>
        </div>
        <div class="card" style="top: 50px; width: 170px; left: 10px ; margin-right: 100px">
            <div class="image-wrapper">
                <img src="/static/images/back4.jpg" alt="Image 2">
            </div>
            <div class="info">
                <h3>图片2</h3>
                <p>这是图片2的介绍内容。</p>
            </div>
        </div>

        <div class="card" style="left: 40px; width: 170px; height: 200px;top: 50px; margin-top: 30px; margin-left: 50px">
            <div class="image-wrapper">
                <img src="/static/images/back5.jpg" alt="Image 2">
            </div>
            <div class="info">
                <h3>图片2</h3>
                <p>这是图片2的介绍内容。</p>
            </div>
        </div>
        <div class="card" style="left: 20px; top: -20px; margin:0 75px 0 75px; width: 300px; height: 300px">
            <div class="image-wrapper">
                <img src="/static/images/back6.jpg" alt="Image 2">
            </div>
            <div class="info">
                <h3>图片2</h3>
                <p>这是图片2的介绍内容。</p>
            </div>
        </div>
        <div class="card" style=" width: 150px; margin-right: 100px; top: 30px; left: 0px">
            <div class="image-wrapper">
                <img src="/static/images/back7.jpg" alt="Image 2">
            </div>
            <div class="info">
                <h3>图片2</h3>
                <p>这是图片2的介绍内容。</p>
            </div>
        </div>
        <div class="card" style="left: -10px;  width: 170px; height: 170px; border-radius: 50%;">
            <div class="image-wrapper" style="border-radius: 50%;">
                <img src="/static/images/ball.jpg" alt="Image 2">
            </div>
            <div class="info">
                <h3>图片8</h3>
                <p>这是图片8的介绍内容。</p>
            </div>
        </div>
        <div class="card" style="top: 20px;margin-left: 10px">
            <div class="image-wrapper" >
                <img src="/static/images/dball.jpg" alt="Image 2">
            </div>
            <div class="info">
                <h3>图片9</h3>
                <p>这是图片9的介绍内容。</p>
            </div>
        </div>
        <div class="card" style="margin-left: 10px">
            <div class="image-wrapper">
                <img src="/static/images/back10.jpg" alt="Image 2">
            </div>
            <div class="info">
                <h3>图片10</h3>
                <p>这是图片10的介绍内容。</p>
            </div>
        </div>
        <div class="card" style="top: -60px; left: 20px">
            <div class="image-wrapper" >
                <img src="/static/images/back11.jpg" alt="Image 2">
            </div>
            <div class="info">
                <h3>图片11</h3>
                <p>这是图片11的介绍内容。</p>
            </div>
        </div>
        <!-- 更多图片... -->
    </div>

</body>

</html>